# dependencies
node_modules/

# env
.env

# OS
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build backend (se esistono)
backend/target/

# ❌ NON ignorare il build del frontend
!frontend/build/
